<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form-specific">
    <ul>
      <li *ngIf="editType===editTypes['basic']">
        <div [class.error]="!myForm.get('name').valid && myForm.get('name').touched">
          <div class="field-box">
            <label for="nameId"><span>*</span>公司全称</label>
            <input class="field" type="text" placeholder="" id="nameId" autocomplete="off " [formControl]="myForm.controls['name']" />
          </div>
          <div *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="abbreviationId">公司简称</label>
            <input class="field" type="text" placeholder="" id="abbreviationId" autocomplete="off " [formControl]="myForm.controls['abbreviation']" />
          </div>
        </div>
        <div [class.error]="!myForm.get('country').valid && myForm.get('country').touched">
          <!--TODO: options-->
          <div class="field-box">
            <label for="countryId"><span>*</span>国别</label>
            <input class="field" type="text" placeholder="" id="countryId" autocomplete="off " [formControl]="myForm.controls['country']" />
          </div>
          <div *ngIf="myForm.controls['country'].hasError('required') && myForm.controls['country'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <!--TODO: options-->
          <div class="field-box">
            <label for="cityId">城市</label>
            <input class="field" type="text" placeholder="" id="cityId" autocomplete="off " [formControl]="myForm.controls['city']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="cityLevelId">城市级别</label>
            <input class="field" type="text" placeholder="" id="cityLevelId" autocomplete="off " [formControl]="myForm.controls['cityLevel']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="provinceId">省份</label>
            <input class="field" type="text" placeholder="" id="provinceId" autocomplete="off " [formControl]="myForm.controls['province']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="parentId">母公司</label>
            <input class="field" type="text" placeholder="" id="parentId" autocomplete="off " [formControl]="myForm.controls['parent']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="profileId">公司简介</label>
            <textarea class="textarea" placeholder="" id="profileId" autocomplete="off " [formControl]="myForm.controls['profile']"></textarea>
          </div>
        </div>
      </li>

      <li *ngIf="editType===editTypes['status']">
        <div [class.error]="!myForm.get('category').valid && myForm.get('category').touched">
          <div class="field-box">
            <!--TODO-->
            <label for="categoryId"><span>*</span>客户类别</label>
            <input class="field" type="text" placeholder="" id="categoryId" autocomplete="off " [formControl]="myForm.controls['category']" />
          </div>
          <div *ngIf="myForm.controls['category'].hasError('required') && myForm.controls['category'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('level').valid && myForm.get('level').touched">
          <div class="field-box">
            <!--TODO-->
            <label for="levelId"><span>*</span>客户级别</label>
            <input class="field" type="text" placeholder="" id="levelId" autocomplete="off " [formControl]="myForm.controls['level']" />
          </div>
          <div *ngIf="myForm.controls['level'].hasError('required') && myForm.controls['level'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="statusId">客户状态</label>
            <input class="field" type="text" id="statusId" autocomplete="off " [formControl]="myForm.controls['status']" />
          </div>
        </div>
        <div>
          <!--TODO-->
          <div class="field-box">
            <label for="reasonId">原因</label>
            <textarea class="textarea" placeholder="" id="reasonId" autocomplete="off " [formControl]="myForm.controls['reason']">
            </textarea>
          </div>
          <div *ngIf="myForm.controls['reason'].hasError('required') && myForm.controls['reason'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
      </li>

      <li *ngIf="editType===editTypes['invoice']">
        <div [class.error]="!myForm.get('invoice').valid && myForm.get('invoice').touched">
          <div class="field-box">
            <label for="invoiceId"><span>*</span>发票客户名称</label>
            <input class="field" type="text" placeholder="" id="invoiceId" autocomplete="off" [formControl]="myForm.controls['invoice']" />
          </div>
          <div *ngIf="myForm.controls['invoice'].hasError('required') && myForm.controls['invoice'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="branchOfficeId">分公司名称</label>
            <input class="field" type="text" placeholder="" id="branchOfficeId" autocomplete="off" [formControl]="myForm.controls['branchOffice']" />
          </div>
        </div>
        <div [class.error]="!myForm.get('businessLicense').valid && myForm.get('businessLicense').touched">
          <div class="field-box">
            <label for="businessLicenseId"><span>*</span>营业执照号</label>
            <input class="field" type="text" placeholder="" id="businessLicenseId" autocomplete="off" [formControl]="myForm.controls['businessLicense']" />
          </div>
          <div *ngIf="myForm.controls['businessLicense'].hasError('required') && myForm.controls['businessLicense'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('taxRegistration').valid && myForm.get('taxRegistration').touched">
          <div class="field-box">
            <label for="taxRegistrationId"><span>*</span>纳税登记号</label>
            <input class="field" type="text" placeholder="" id="taxRegistrationId" autocomplete="off" [formControl]="myForm.controls['taxRegistration']" />
          </div>
          <div *ngIf="myForm.controls['taxRegistration'].hasError('required') && myForm.controls['taxRegistration'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('bank').valid && myForm.get('bank').touched">
          <div class="field-box">
            <label for="bankId"><span>*</span>开户行</label>
            <input class="field" type="text" placeholder="" id="bankId" autocomplete="off" [formControl]="myForm.controls['bank']" />
          </div>
          <div *ngIf="myForm.controls['bank'].hasError('required') && myForm.controls['bank'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('bankAccount').valid && myForm.get('bankAccount').touched">
          <div class="field-box">
            <label for="bankAccountId"><span>*</span>银行账号</label>
            <input class="field" type="text" placeholder="" id="bankAccountId" autocomplete="off" [formControl]="myForm.controls['bankAccount']" />
          </div>
          <div *ngIf="myForm.controls['bankAccount'].hasError('required') && myForm.controls['bankAccount'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('registrationLocation').valid && myForm.get('registrationLocation').touched">
          <div class="field-box">
            <label for="registrationLocationId"><span>*</span>注册地</label>
            <input class="field" type="text" placeholder="" id="registrationLocationId" autocomplete="off" [formControl]="myForm.controls['registrationLocation']" />
          </div>
          <div *ngIf="myForm.controls['registrationLocation'].hasError('required') && myForm.controls['registrationLocation'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('registrationPhone').valid && myForm.get('registrationPhone').touched">
          <div class="field-box">
            <label for="registrationPhoneId"><span>*</span>注册电话</label>
            <input class="field" type="text" placeholder="" id="registrationPhoneId" autocomplete="off" [formControl]="myForm.controls['registrationPhone']" />
          </div>
          <div *ngIf="myForm.controls['registrationPhone'].hasError('required') && myForm.controls['registrationPhone'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
      </li>

      <li *ngIf="editType===editTypes['contact']">
        <div [class.error]="!myForm.get('name').valid && myForm.get('name').touched">
          <div class="field-box">
            <label for="nameId"><span>*</span>姓名</label>
            <input class="field" type="text" placeholder="" id="nameId" autocomplete="off " [formControl]="myForm.controls['name']" />
          </div>
          <div *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('post').valid && myForm.get('post').touched">
          <div class="field-box">
            <label for="postId"><span>*</span>职务</label>
            <input class="field" type="text" placeholder="" id="postId" autocomplete="off " [formControl]="myForm.controls['post']" />
          </div>
          <div *ngIf="myForm.controls['post'].hasError('required') && myForm.controls['post'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('department').valid && myForm.get('department').touched">
          <div class="field-box">
            <label for="departmentId"><span>*</span>部门</label>
            <input class="field" type="text" placeholder="" id="departmentId" autocomplete="off " [formControl]="myForm.controls['department']" />
          </div>
          <div *ngIf="myForm.controls['department'].hasError('required') && myForm.controls['department'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('landline').valid && myForm.get('landline').touched">
          <div class="field-box">
            <label for="landlineId"><span>*</span>电话</label>
            <input class="field" type="text" placeholder="" id="landlineId" autocomplete="off " [formControl]="myForm.controls['landline']" />
          </div>
          <div *ngIf="myForm.controls['landline'].hasError('required') && myForm.controls['landline'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="phoneId">手机号</label>
            <input class="field" type="text" placeholder="" id="phoneId" autocomplete="off " [formControl]="myForm.controls['phone']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="emailId">电子邮件</label>
            <input class="field" type="text" placeholder="" id="emailId" autocomplete="off " [formControl]="myForm.controls['email']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="faxId">传真</label>
            <input class="field" type="text" placeholder="" id="faxId" autocomplete="off " [formControl]="myForm.controls['fax']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="addressId">地址</label>
            <input class="field" type="text" placeholder="" id="addressId" autocomplete="off " [formControl]="myForm.controls['address']" />
          </div>
        </div>
      </li>

      <li *ngIf="editType===editTypes['taker']">
        <div [class.error]="!myForm.get('name').valid && myForm.get('name').touched">
          <div class="field-box">
            <label for="nameId"><span>*</span>收票人姓名</label>
            <input class="field" type="text" placeholder="" id="nameId" autocomplete="off " [formControl]="myForm.controls['name']" />
          </div>
          <div *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div [class.error]="!myForm.get('phone').valid && myForm.get('phone').touched">
          <div class="field-box">
            <label for="phoneId"><span>*</span>收票人电话</label>
            <input class="field" type="text" placeholder="" id="phoneId" autocomplete="off " [formControl]="myForm.controls['phone']" />
          </div>
          <div *ngIf="myForm.controls['phone'].hasError('required') && myForm.controls['phone'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="emailId">收票人邮箱</label>
            <input class="field" type="text" placeholder="" id="emailId" autocomplete="off " [formControl]="myForm.controls['email']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="workingAddressId">收票人单位</label>
            <input class="field" type="text" placeholder="" id="workingAddressId" autocomplete="off " [formControl]="myForm.controls['workingAddress']" />
          </div>
        </div>
        <div>
          <div class="field-box">
            <label for="addressId">收票人地址</label>
            <input class="field" type="text" placeholder="" id="addressId" autocomplete="off " [formControl]="myForm.controls['address']" />
          </div>
        </div>
      </li>

      <li *ngIf="editType===editTypes['other']">
        <div>
          <div class="field-box">
            <label for="lastContactTimeId">最后联系日期</label>
            <span>{{ instance.lastContactTime| date:'yyyy / MM / dd'}}</span>
          </div>
        </div>
        <div [class.error]="!myForm.get('nextContactTime').valid && myForm.get('nextContactTime').touched">
          <div class="field-box">
            <label for="nextContactTimeId"><span>*</span>下次联系日期</label>
            <tui-datepicker-input
              [datepicker]="picker"
              placeholder="Date"
              [formControl]="myForm.controls['nextContactTime']"
              [min]="minDate"
              required
            ></tui-datepicker-input>
            <tui-datepicker #picker></tui-datepicker>
          </div>
          <div *ngIf="myForm.controls['nextContactTime'].hasError('required') && myForm.controls['nextContactTime'].touched" class="message ">{{'form.required' | translate}}</div>
        </div>
        <div>
          <div class="field-box">
            <label for="commentId">备注</label>
            <textarea class="textarea" placeholder="" id="commentId" autocomplete="off" [formControl]="myForm.controls['comment']"></textarea>
          </div>
        </div>
      </li>
    </ul>
    <div class="buttons ">
      <button class="tui-btn-md tui-btn-primary tui-btn " type="submit" [disabled]="!myForm.valid ? 'disabled' : null">确定</button>
      <button class="tui-btn-md tui-btn-default tui-btn " type="reset">取消</button>
    </div>
  </form>
</div>