<section class="bread-crumb">
  <div class="left">
    <span>我的商机</span>
  </div>
  <div class="right">
    <span class="search">
      <!-- big-->
      <input class="" />
      <svg class="icon-md" tuiIcon="search" size="md"></svg>
    </span>
    <button 
      (click)="swithStatus()"
      class="margin-left-16px disabled-detail white-btn"
      [ngClass]="{'white-btn': !!filter.open, 'blue-btn': !filter.open }"
    >查看已关闭商机</button>
    <button
      (click)="add()"
      class="margin-left-16px blue-btn"
    >
      <svg class="icon-md create" tuiIcon="create" size="md"></svg>
      <span>新增商机</span>
    </button>
  </div>
</section>

<dl class="businesses">
  <dd 
    class="business"
    *ngFor="let item of list"
  >
    <h3 class="title-big">
      <span>{{item.name}}</span>
      <!--corresponding class name in: /abcrock/erp-frontend/src/assets/style/common.sass -->
      <button class="{{(item.stage + '').toLowerCase() + '-btn'}} status">{{item.stageAlias}}</button>
      <button *ngIf="!!item.fillingStatus" class="state-btn status">{{item.fillingStatus}}</button>
    </h3>
    <ul class="detail-ul ">
      <li>
        <p class="gray ">客户</p>
        <p>{{item.customerName}}</p>
      </li>
      <li>
        <p class="gray ">销售负责人</p>
        <p>{{item.salesName}}</p>
      </li>
      <li>
        <p class="gray ">状态</p>
        <p class="">{{item.statusAlias}}</p>
      </li>
    </ul>
    <a (click)="toDetails(item)" class="view-details no-shadow-btn">
      <svg class="icon-md" tuiIcon="details" size="md"></svg>查看详情
    </a>
    <a *ngIf="!isNormal(item.status)" (click)="reactivate(item)" class="reactivate no-shadow-btn">
      <svg class="icon-md" tuiIcon="reactivate" size="md"></svg>重新启用
    </a>
    <a *ngIf="isNormal(item.status)" (click)="close(item)" class="trash no-shadow-btn">
      <svg class="icon-md" tuiIcon="ERP-icon_密码" size="md"></svg>关闭商机
    </a>
  </dd>
  
</dl>

<section class="pagination ">
  <div class="amount ">共计:
    <span>{{pagination.total}}</span>条</div>
  <tui-pagination [(pagination)]=" pagination " (paginationChange)="fetchData() ">
  </tui-pagination>
</section>