<section class="bread-crumb">
  <div class="left">
    <!-- 
      <span>我的客户</span>
      <span class="arrow"></span>
      <span class="last">中国石油化工集团公司</span>
    -->
    <erp-bread-crumbs [data]="breadCrumbs"></erp-bread-crumbs>
  </div>
  <div class="right">
    <button 
      (click)="cancel()"
      *ngIf="status!=='INVALID'" 
      class="margin-left-16px disabled-detail white-btn"
    >作废</button>
    <button 
      (click)="reactivate()"
      *ngIf="status==='INVALID'" 
      class="margin-left-16px blue-btn"
    >重新启用</button>
  </div>
</section>

<section class="details">
  <div class="left">
    <div class="first white-bg-items">
      <h3 class="title-big name">{{customer.name}}</h3>
      <svg (click)="edit(editTypes['basic'])" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
      <ul class="info">
        <li>
          <h4>公司名称</h4>
          <p>{{customer.name}}</p>
        </li>
        <li>
          <h4>城市级别</h4>
          <p>{{customer.cityLevel}}</p>
        </li>
        <li>
          <h4>国别</h4>
          <p>{{customer.country}}</p>
        </li>
        <li>
          <h4>本年新老客户</h4>
          <p>{{customer.newOrOldAlias}}</p>
        </li>
        <li>
          <h4>城市</h4>
          <p>{{customer.cityAlias}}</p>
        </li>
        <li>
          <h4>省份</h4>
          <p>{{customer.province}}</p>
        </li>
        <li>
          <h4>母公司</h4>
          <p>{{customer.parent}}</p>
        </li>
      </ul>
      <h4>公司简介</h4>
      <p class="description ellipsis-two-lines">{{customer.profile}}</p>
    </div>
    <div class="invoice white-bg-items">
      <h3 class="special">发票信息</h3>
      <svg (click)="edit(editTypes['invoice'], customer)" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
      <ul>
        <li>
          <h4>发票客户名称</h4>
          <p>{{customer.invoice}}</p>
        </li>
        <li>
          <h4>分公司名称</h4>
          <p>{{customer.branchOffice}}</p>
        </li>
        <li>
          <h4>营业执照号</h4>
          <p>{{customer.businessLicense}}</p>
        </li>
        <li>
          <h4>纳税登记号</h4>
          <p>{{customer.taxRegistration}}</p>
        </li>
        <li>
          <h4>开户行</h4>
          <p>{{customer.bank}}</p>
        </li>
        <li>
          <h4>银行帐号</h4>
          <p>{{customer.bankAccount}}</p>
        </li>
        <li>
          <h4>注册地</h4>
          <p>{{customer.registrationLocation}}</p>
        </li>
        <li>
          <h4>注册电话</h4>
          <p>{{customer.registrationPhone}}</p>
        </li>
      </ul>
    </div>
    <div class="contact-list white-bg-items ">
      <h3 class="special">联系人</h3>
      <svg (click)="add(editTypes['contact'])" class="icon-md" tuiIcon="plus-thin" size="md"></svg>
      <ol>
        <li *ngFor="let contact of contacts">
          <svg (click)="edit(editTypes['contact'], contact)" class="icon-md" tuiIcon="pencil" size="md"></svg>
          <h3 class="">{{contact.name}}</h3>
          <ul>
            <li>
              <h4>职务</h4>
              <p>{{contact.post}}</p>
            </li>
            <li>
              <h4>部门</h4>
              <p>{{contact.department}}</p>
            </li>
            <li>
              <h4>电话</h4>
              <p>{{contact.landline}}</p>
            </li>
            <li>
              <h4>手机</h4>
              <p>{{contact.phone}}</p>
            </li>
            <li>
              <h4>电子邮件</h4>
              <p>{{contact.email}}</p>
            </li>
            <!-- <li>
              <h4>传真</h4>
              <p>{{contact.name}}</p>
            </li> -->
            <li>
              <h4>地址</h4>
              <p>{{contact.address}}</p>
            </li>
          </ul>
        </li>
        <!-- <li>
          <svg class="icon-md" tuiIcon="pencil" size="md"></svg>
          <h3>李四</h3>
          <ul>
            <li>
              <h4>职务</h4>
              <p>销售经理</p>
            </li>
            <li>
              <h4>部门</h4>
              <p>市场部</p>
            </li>
            <li>
              <h4>电话</h4>
              <p>021-89563652</p>
            </li>
            <li>
              <h4>手机</h4>
              <p>13888888888</p>
            </li>
            <li>
              <h4>电子邮件</h4>
              <p>zhangsan@163.com</p>
            </li>
            <li>
              <h4>传真</h4>
              <p>021-89574325</p>
            </li>
            <li>
              <h4>地址</h4>
              <p>上海市虹漕路888号</p>
            </li>
          </ul>
        </li> -->
      </ol>
    </div>
  </div>

  <div class="right">
    <div class="white-bg-items ">
      <h3 class="special ">状态信息</h3>
      <svg (click)="edit(editTypes['status'])" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
      <ul>
        <li>
          <h4>客户类别</h4>
          <p>{{customer.categoryAlias}}</p>
        </li>
        <li>
          <h4>客户级别</h4>
          <p>{{customer.levelAlias}}</p>
        </li>
        <li>
          <h4>客户状态</h4>
          <p>{{customer.statusAlias}}</p>
        </li>
      </ul>
      <h4 *ngIf="customer.status==='INVALID'">作废原因</h4>
      <p
        *ngIf="customer.status==='INVALID'"
        class="description"
      >{{customer.reason}}</p>
    </div>

    <div class="white-bg-items ">
      <h3 class="special">收票人</h3>
      <!--TODO: 5.客户详情内缺少“收票人”板块所需字段； -->
      <svg
        (click)="add(editTypes['taker'])"
        class="icon-md"
        tuiIcon="plus-thin" size="md"
      ></svg>
      <ol>
        <li *ngFor="let invoice of invoices">
          <h3 class="">{{invoice.name}}</h3>
          <svg (click)="edit(editTypes['taker'], invoice)" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
          <ul>
            <li>
              <h4>电话</h4>
              <p>{{invoice.phone}}</p>
            </li>
            <li>
              <h4>邮箱</h4>
              <p>{{invoice.email}}</p>
            </li>
            <li>
              <h4>单位</h4>
              <p>{{invoice.workingAddress}}</p>
            </li>
          </ul>
          <h4>地址</h4>
          <p class="description">{{invoice.address}}</p>
        </li>
<!--         <li>
          <h3 class="">张三</h3>
          <svg (click)="edit(editTypes['taker'])" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
          <ul>
            <li>
              <h4>电话</h4>
              <p>13816470956</p>
            </li>
            <li>
              <h4>邮箱</h4>
              <p>zhangsan@163.com</p>
            </li>
            <li>
              <h4>单位</h4>
              <p>中石化</p>
            </li>
          </ul>
          <h4>地址</h4>
          <p class="description">黑龙江省齐齐哈尔市梅里斯达斡尔族区虹漕路888号越虹广场A做333号.</p>
        </li> -->
      </ol>
    </div>

    <div class="white-bg-items ">
      <h3 class="special">其他</h3>
      <svg (click)="edit(editTypes['other'])" class="icon-md pencil" tuiIcon="pencil" size="md"></svg>
      <ul>
        <li>
          <h4>最后联系日期</h4>
          <p>{{customer.lastContactTime | date:'yyyy / MM / dd'}}</p>
        </li>
        <li>
          <h4>下次联系日期</h4>
          <p>{{customer.nextContactTime | date:'yyyy / MM / dd'}}</p>
        </li>
      </ul>
      <h4>备注</h4>
      <p class="description">{{customer.comment}}</p>
    </div>
  </div>
</section>