<section class="bread-crumb">
  <div class="left">
    <!-- <span>我的客户</span>
    <span class="arrow"></span>
    <span class="last">中石化大数据项目</span> -->
    <erp-bread-crumbs [data]="breadCrumbs"></erp-bread-crumbs>
  </div>
  <div class="right">
    <button class="blue-btn operate" [tuiDropdownTrigger]="operate">
      操作
      <svg class="down" tuiIcon="angle-down" size="sm"></svg>
    </button>
    <tui-dropdown
      #operate 
      [direction]="dropdownDirection" 
      [caret]="true"
    >
      <tui-dropdown-item
        class="dropdown-item align-left"
        *ngFor="let item of operations"
        [ngClass]="{ disable: item.disabled }"
      >
        <svg class="icon-md" tuiIcon="{{item.icon}}" size="md"></svg>
        <!-- <img class="icon-img" tecImgSrc="{{entrancesTemp[item.name] + '.svg'}}" tecImgPrefix="/assets/svg" /> -->
        <span (click)="operation(item)">
          {{item.text}}
        </span>
      </tui-dropdown-item>
    </tui-dropdown>

  </div>
</section>

<section *ngIf="!!showNoFinished" class="not-finished">
  <svg class="icon-md tip" tuiIcon="exclamation-circle" size="md"></svg>
  <span class="anchor">应用信息，合作伙伴信息</span>
    未完善，完善之后才能进行"申请POC"、"申请架构师"等操作。
</section>

<section class="details">
  <div class="left">
    <div class="first white-bg-items no-padding">
      <h3 class="title-big name">
        {{business.name}}
        <button class="{{(business.stage + '').toLowerCase() + '-btn'}} status">{{business.stageAlias}}</button>
        <button
          class="state-btn status"
          *ngIf="!!business.fillingStatus"
        >{{business.fillingStatus || '已报备'}}</button><!--TODO-->
      </h3>
      <svg 
        class="icon-md pencil" tuiIcon="pencil" size="md"
        (click)="edit(editTypes['basic'])"
      ></svg>
      <ul class="info">
        <li>
          <h4>状态</h4>
          <p>{{business.statusAlias || ''}}</p>
        </li>
        <li>
          <h4>预计成功率</h4>
          <p>{{business.successRate}}</p>
        </li>
        <li>
          <h4>预签合同类型</h4>
          <p>{{business.preSignedContractTypeAlias}}</p>
        </li>
        <li>
          <h4>预计签约日期</h4>
          <p>{{business.contractTime | date:'yyyy / MM / dd'}}</p>
        </li>
        <li>
          <h4>预计收入金额</h4>
          <p>{{business.revenueAmount}}</p>
        </li>
        <li>
          <h4>预计签约合同金额</h4>
          <p>{{business.contractAmount}}</p>
        </li>
        <li>
          <h4>预计总节点数</h4>
          <p>{{business.nodeCount}}</p>
        </li>
        <li>
          <h4>售前</h4>
          <p>{{business.preSalesName}}</p>
        </li>
        <li class="flex3">
          <h4>意向产品</h4>
          <p class="ellipsis-two-lines">{{business.product}}</p>
        </li>
        <li>
          <h4>销售负责人</h4>
          <!--
            http://172.16.1.168:8090/pages/viewpage.action?pageId=18678310
            sales为key，后面可以准备做超链接的，显示只需要使用salesName。
          -->
          <p>{{business.salesName}}</p>
        </li>
      </ul>
      <h4>项目进展</h4>
      <dl>
        <dd>
          <div
            (click)="toProgresses(progressTypes['all'])"
            class="pointer"
          >
            <img class="records" erpImgSrc="records.svg" />
            <div>
              <p>{{business.record}}</p>
              <label>全部记录</label>
            </div>
          </div>
        </dd>
        <dd>
          <div
            (click)="toProgresses(progressTypes['poc'])"
            class="pointer"
          >
            <img class="poc" erpImgSrc="poc.svg" /><!--TODO: optimization of unify the icons with operation-***  icons -->
            <div>
              <p>{{business.poc}}</p>
              <label>POC</label>
            </div>
          </div>
        </dd>
        <dd>
          <div
            (click)="toProgresses(progressTypes['architect'])"
            class="pointer"
          >
            <img class="architect" erpImgSrc="architect.svg" />
            <div>
              <p>{{business.architect}}</p>
              <label>架构师</label>
            </div>
          </div>
        </dd>
        <dd>
          <div
            (click)="toProgresses(progressTypes['visits'])"
            class="pointer"
          >
            <img class="visits" erpImgSrc="visits.svg" />
            <div>
              <p>{{business.visitRecord}}</p>
              <label>拜访记录</label>
            </div>
          </div>
        </dd>
        <dd>
          <div
            (click)="toProgresses(progressTypes['meeting'])"
            class="pointer"
          >
            <img class="meetings" erpImgSrc="meetings.svg" />
            <div>
              <p>{{business.meeting}}</p>
              <label>会议纪要</label>
            </div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="white-bg-items no-padding">
      <h3 class="special ">应用信息</h3>
      <svg
        class="icon-md pencil" tuiIcon="pencil" size="md"
        (click)="edit(editTypes['application'])"
      ></svg>
      <ul>
        <li>
          <h4>客户应用</h4>
          <p>{{business.application}}</p>
        </li>
        <li>
          <h4>是否应用迁移</h4>
          <p>{{business.needMigration}}</p>
        </li>
        <li>
          <h4>是否应用开发</h4>
          <p>{{business.needDev}}</p>
        </li>
        <li>
          <h4>战略意义</h4>
          <p>{{business.strategic}}</p>
        </li>
        <li class="flex2 ">
          <h4>应用厂商</h4>
          <p>{{business.applicationSupplier }}</p>
        </li>
        <li class="flex2">
          <h4>对其他厂商反馈意见</h4>
          <p>{{business.supplierSuggest || '  '}}</p>
        </li>
      </ul>
    </div>
    <div class="white-bg-items">
      <h3 class="special ">其他</h3>
      <svg
        class="icon-md pencil" tuiIcon="pencil" size="md"
        (click)="edit(editTypes['other'])"
      ></svg>
      <ul>
        <li>
          <h4>下次联系日期</h4>
          <p>{{business.nextContactTime }}</p>
        </li>
        <li>
          <h4>最后联系日期</h4>
          <p>{{business.lastContactTime }}</p>
        </li>
        <li>
          <h4>发生日期</h4>
          <p>{{business.createTime }}</p>
        </li>
        <li>
          <h4>未联系时间</h4>
          <p>{{business.noContactDuration }}</p>
        </li>
        <li class="flex2 ">
          <h4>项目所属公司</h4>
          <p>{{business.company }}</p>
        </li>
        <li class="flex2">
          <h4>PL毛利核算表</h4>
          <p>{{business.plGrossProfitCheck }}</p>
        </li>
      </ul>
      <h4>建议及说明</h4>
      <p class="description">{{business.suggest}}</p>
    </div>
  </div>

  <div class="right">
    <div class="white-bg-items no-padding">
      <h3 class="special ">客户信息</h3>
      <svg
        class="icon-md pencil" tuiIcon="pencil" size="md"
        (click)="edit(editTypes['customer'])"
      ></svg>
      <ul>
        <li>
          <h4>最终用户</h4>
          <p>{{business.customerName}}</p>
        </li>
        <li>
          <h4>最终用户联系人</h4>
          <p>{{business.customerContactsName}}</p>
        </li>
        <li>
          <h4>最终用户职位</h4>
          <p>{{business.customerContactsPost}}</p>
        </li>
        <li>
          <h4>近2年IT投入平均金额</h4>
          <p>{{business.itInput}}</p>
        </li>
        <li>
          <h4>近2年软件投入平均金额</h4>
          <p>{{business.softwareInput}}</p>
        </li>
      </ul>
    </div>
    <div
      class="white-bg-items"
      *ngIf="true"
    >
      <h3 class="special">合作伙伴信息</h3>
      <svg
        class="icon-md pencil" tuiIcon="pencil" size="md"
        (click)="edit(editTypes['partner'])"
      ></svg>
      <ul>
        <li>
          <h4>合作伙伴</h4>
          <p>{{business.partnerName}}</p>
        </li>
        <li>
          <h4>合作伙伴联系人</h4>
          <p>{{business.partnerContactsName}}</p>
        </li>
        <li>
          <h4>合作伙伴职位</h4>
          <p>{{business.partnerContactsPost}}</p>
        </li>
        <li>
          <h4>合作伙伴所属行业</h4>
          <p>{{business.partnerIndustry}}</p>
        </li>
        <li>
          <h4>合作伙伴细分市场</h4>
          <p>{{business.partnerSubdivisionMarket}}</p>
        </li>
        <li>
          <h4>合作伙伴主营业务</h4>
          <p>{{business.partnerBusiness}}</p>
        </li>
        <li>
          <h4>合作伙伴所属行业市场占有率</h4>
          <p>{{business.partnerMarketShare}}</p>
        </li>
      </ul>
    </div>
    <div class="white-bg-items ">
      <h3 class="special">竞争厂商</h3>
      <svg
        class="icon-md" tuiIcon="plus-thin" size="md"
        (click)="addRival(editTypes['rival'])"
      ></svg>
      <ol>
        <li
          class="padding-top"
          *ngFor="let rival of rivalList"
        >
          <ul>
            <li>
              <h4>竞争对手客户名</h4>
              <p>{{rival.name}}</p>
            </li>
            <li>
              <h4>对手报价</h4>
              <p>{{rival.quote}}</p>
            </li>
            <li class="flex2">
              <h4>原因</h4>
              <p>{{rival.reason}}</p>
            </li>
          </ul>
          <h4>竞争对手信息</h4>
          <p class="description">{{rival.info}}</p>
        </li>
        <!-- <li class="padding-top">
          <ul>
            <li>
              <h4>竞争对手客户名</h4>
              <p>华为科技</p>
            </li>
            <li>
              <h4>对手报价</h4>
              <p>1000000</p>
            </li>
            <li class="flex2">
              <h4>原因</h4>
              <p>低价竞争</p>
            </li>
          </ul>
          <h4>竞争对手信息</h4>
          <p class="description">黑龙江省齐齐哈尔市梅里斯达斡尔族区虹漕路888号越虹广场A做333号.</p>
        </li> -->
      </ol>
    </div>
  </div>
</section>