#login
  width: 100%px
  height: 100%px
  text-align: center
  position: relative
  top: 100px

#logo
  position: relative
  top: 50px

#form
  width: 553px
  height: 435px
  background: white
  position: absolute
  right: 278px
  top: 170px
  border-radius: 25px 0px 0px 25px
  line-height: 40px

#form_1
  position: relative
  top: 60px
  line-height: 70px

#form_1 svg
  position: relative
  top: 2px
  left: 30px

#username
  width: 320px
  height: 40px
  border-radius: 20px
  padding-left: 40px

#password
  width: 320px
  height: 40px
  border-radius: 20px
  padding-left: 40px

#button
  width: 320px
  height: 40px
  border-radius: 20px
  color: white
  background-color: #6281E7
  border: none
  cursor: pointer
  outline: none
  font-size: 15px
  position: relative
  left: 10px

#font
  color: white
  font-weight: bold
  font-size: 40px
  line-height: 60px
  font-family: "Microsoft JhengHei UI Light", serif
  position: absolute
  left: 470px
  top: 280px

#copy
  color: white
  font-weight: bold
  font-family: "Microsoft JhengHei UI Light", serif
  position: absolute
  left: 300px
  bottom: -10px
