<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form-specific">
    <div [class.error]="!myForm.get('reason').valid && myForm.get('reason').touched">
      <div class="field-box">
        <label for="reasonId"><span>*</span>原因</label>
        <textarea class="textarea" type="text" placeholder="" id="reasonId" autocomplete="off " [formControl]="myForm.controls['reason']">
        </textarea>
      </div>
      <div *ngIf="myForm.controls['reason'].hasError('required') && myForm.controls['reason'].touched" class="message ">{{'form.required' | translate}}</div>
    </div>
    <div class="buttons ">
      <button class="tui-btn-md tui-btn-primary tui-btn " type="submit" [disabled]="!myForm.valid ? 'disabled' : null">确定</button>
      <button class="tui-btn-md tui-btn-default tui-btn " type="reset">取消</button>
    </div>
  </form>
</div>